.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.axis.date path, .axis.date line {
    fill: none;
    stroke-width: 0;
}

.axis.time path {
    fill: none;
    stroke: black;
}

.axis.time line {
    fill: none;
    stroke: rgba(0,0,0,0.05);
    shape-rendering: crispEdges;
}
