doctype html
html
  head
    script(src='/dist/vendor/jquery/dist/jquery.min.js')
    script(src='/dist/vendor/uri.js/src/URI.min.js')
    script(src='/dist/vendor/underscore/underscore-min.js')
    script(src='/dist/vendor/bluebird/js/browser/bluebird.min.js')
    script(src='/dist/vendor/taffydb/taffy-min.js')
    script(src='/dist/vendor/crypto-js/md5.js')
    script(src='/dist/js/uuid.js')
    script(src='/dist/js/trackAPI.js')
    script(src='/dist/js/tabTrack.js')
    script(src='/dist/js/interface.js')
  body
