doctype html
html
  head
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/uri.js/src/URI.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/bluebird/js/browser/bluebird.min.js')
    script(src='/vendor/dexie/dist/latest/Dexie.min.js')
    script(src='/vendor/cryptojslib/rollups/md5.js')
    script(src='/vendor/cryptojslib/rollups/aes.js')
    script(src='/vendor/cryptojslib/components/enc-base64-min.js')
    script(src='/vendor/js-logger/src/logger.min.js')
    script(src="/vendor/socket.io/socket.io.js")
    script(src='/js/uuid.js')
    script(src='/js/fsUtils.js')
    script(src='/js/trackAPI.js')
    script(src='/js/tabTrack.js')
    script(src='/js/interface.js')
    script(src='/js/onInstalled.js')
    script(src='/js/externalConnect.js')
  body


