doctype html
html(lang='en')
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      //link(rel='icon', href='../../favicon.ico')
      title Tab Tracker
      // Bootstrap core CSS
      link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
      link(href='/dist/css/tipsy.css', rel='stylesheet')
      link(href='/dist/css/timeline.css', rel='stylesheet')


  body
    .container
      .jumbotron
        .row(style='display: flex; align-items: center;')
          .col-sm-4
            image(src='/dist/img/tabtacular.png', style='width: 100%;')
          .col-sm-8
            h1
              | Tab Tracker
        br
        p
          | Thank you for participating in the browser tab usage study. Please
          | click the first two buttons to download your tab usage logs from
          | this Chrome extension. Before submitting the logs, you can review
          | them in Excel and blackout columns that you do not wish to share
          | with us. Please send your logs to josephcc@cmu.edu . Thank you!
        br
        p
          .row.text-center
            .col-sm-4
              button.download.all.btn.btn-lg.btn-success(type='button')
                | Download your logs
            .col-sm-4
              button.btn.btn-lg.render.btn-info(type='button')
                | Visualize your logs
            .col-sm-4
              button.database.kill.btn.btn-lg.btn-danger(type='button')
                | Clear database
      .row
        .col-sm-12
          .render_container(style='width: 100%; overflow: scroll;')

      // Placed at the end of the document so the pages load faster
      script(src='/dist/js/uuid.js')
      script(src='/dist/vendor/jquery/dist/jquery.min.js')
      script(src='/dist/js/jquery.tipsy.js')
      script(src='/dist/vendor/bootstrap/dist/js/bootstrap.min.js')
      script(src='/dist/vendor/d3/d3.min.js')
      script(src='/dist/vendor/bluebird/js/browser/bluebird.min.js')
      
      //Angular Scripts
      script(src="/dist/vendor/underscore/underscore-min.js")
      script(src='/dist/vendor/uri.js/src/URI.min.js')

      //Scripts to access the tab information
      script(src='/dist/js/fsUtils.js')
      script(src='/vendor/dexie/dist/latest/Dexie.min.js')
      //script(src='/vendor/dexie/addons/Dexie.Observable/Dexie.Observable.js')
      script(src='/dist/js/trackAPI.js')

      script(src='/dist/vendor/cryptojslib/rollups/md5.js')
      script(src='/dist/vendor/pleasejs/dist/Please.js')

      //Finally Load the Angular Controller
      script(src='/dist/js/controller.js')
